.cardBack {
  margin-left: 25%;
  margin-top: 15%;
}

.backgroundBack {
  width: 23vw;
  min-width: 28rem;
  height: 11vw;
  min-height: 14rem;

  border-radius: 15px;

  background-image: url(/Assets/images/bg-card-back.png);
  background-size: cover;
  background-repeat: no-repeat;

  padding: 6%;
}

.containerCVC {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  color: white;

  width: 100%;
  height: 100%;
}

.containerCVC p {
  margin-right: 10%;
  margin-top: 10px;

  font-size: 1.5rem;
}